@import "tailwindcss";

@theme {
  --phantom-gradient: linear-gradient(to right, #00ffff, #ff10f0);
}

@utility bg-phantom {
  background-image: var(--phantom-gradient);
}

@utility text-phantom {
  background-image: var(--phantom-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

:root {
  --bg: #000000;
  --text-color: #ffffff;
}

#root {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

html,
body {
  background-color: var(--bg);
  color: var(--text-color);
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat Font/static/Montserrat-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat Font/static/Montserrat-Thin.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat Font/static/Montserrat-Italic.ttf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat Font/static/Montserrat-ThinItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

@keyframes textFadeIn {
  from {
    opacity: 0%;
    transform: translateY(20px);
  }

  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

main {
  animation: textFadeIn 2s ease-out forwards;
}
