@import "tailwindcss";

@theme {
  --phantom-gradient: linear-gradient(to right, #00ffff, #ff10f0);
  --animate-fade-in-y: fadeInY 2s ease forwards;
  --animate-fade-in-x: fadeInX 2s ease forwards;
  --animate-fade-in-x-r: fadeInXR 2s ease forwards;
  --cyan: #00ffff;
  --neon-pink: #ff10f0;
  --secondary-color: #757983;
  --cards-color: #0d0d0d;
  --accents: #a571e4;
}

@utility animate-reveal-y {
  opacity: 0;
  animation: var(--animate-fade-in-y);
  animation-timeline: view();
  animation-range: entry 20% 60%;
}

@utility animate-reveal-x {
  opacity: 0;
  animation: var(--animate-fade-in-x);
  animation-timeline: view();
  animation-range: entry 20% 60%;
}

@utility bg-phantom {
  background-image: var(--phantom-gradient);
}

@utility text-phantom {
  background-image: var(--phantom-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

:root {
  --bg: #000000;
  --text-color: #ffffff;
}

#root {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
}

html,
body {
  background-color: var(--bg);
  color: var(--text-color);
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat Font/static/Montserrat-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat Font/static/Montserrat-Thin.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat Font/static/Montserrat-MediumItalic.ttf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  src: url("assets/fonts/Montserrat Font/static/Montserrat-ThinItalic.ttf");
  font-weight: 200;
  font-style: italic;
}

@keyframes fadeInY {
  from {
    opacity: 0%;
    transform: translateY(20px);
  }

  to {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes fadeInX {
  from {
    opacity: 0%;
    transform: translateX(20px);
  }

  to {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes fadeInXR {
  from {
    opacity: 0%;
    transform: translateX(-20px);
  }

  to {
    opacity: 100%;
    transform: translateX(0);
  }
}

main {
  transform: translateZ(0);
}
